.settingsPage {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.settingsSection {
  /* Extends .card */
}

.settingsSection h3 {
  color: var(--secondary-color);
  margin-bottom: var(--space-md);
}

.themeOptions {
  display: flex;
  /* gap: var(--space-md); */
  margin-top: var(--space-md);
}

.themeOption {
  /* Extends .btn, .btn--outline */
  flex: 1;
}

.themeOption.active {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}